#content-restoDetail{
    padding-top: 20px;
    padding-bottom: 60px;
}

#content-restoDetail h2{
    margin-bottom: 50px;
}

#resto-picture{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#resto-picture #picture{
    width: 145px;
    height: 145px;
    overflow: hidden;
    border-radius: 50%;
}

#resto-picture #picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#resto-info #menu-list #title{
    text-align: left;
    font-weight: 275;
    font-size: 13px;
    margin-bottom: 15px;
}

#addMenu{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #dedede;
    height: 47px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addMenu img{
    width: 30px;
}