#container-tenant{
    margin: 0px;
    margin-bottom: 50px;
}

#container-food{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#foodImg {
    width: 100%;
    height: 280px;
    overflow: cover;
    position: relative;
}

#foodImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#content-tenant{
    max-width: 1200px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
}

.foodList {
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.foodList h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

#content-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content-empty img{
    width: 15em;
}

#content-empty p{
    font-size: 17px;
    font-weight: bold;
}

@media screen and (max-width: 900px) {

    #container-tenant{
        margin-bottom: 0px;
        min-height: 80vh;
    }

    #foodImg {
        height: 250px;
    }

    #content-tenant{
        max-width: 900px;
        width: 90%;
    }

    .foodList {
        margin: 0px;
        gap: 30px;
    }

    #content-empty img{
        width: 11em;
    }
    
    #content-empty p{
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {

    #container-food{
        margin-top: 0px;
    }

    #content-tenant{
        padding-top: 0px;
    }

    #foodImg {
        height: 200px;
    }

    .foodList h2{
        font-size: 19px;
    }

    #content-empty img{
        width: 9em;
    }
    
    #content-empty p{
        font-size: 14px;
    }
}