/* FoodBox */
.foodBox {
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    height: 180px;
}

#food-image {
    width: 25%;
    overflow: hidden;
    border-radius: 15px 0px 0px 15px;
}

#food-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#food-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 20px 15px;
}

#food-info #food-names {
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
}

#food-info #food-price {
    margin: 5px 0;
    font-weight: 400;
    font-size: 15px;
}

#addFood {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: auto;
    padding: 15px 20px;
}

#addFood button {
    background-color: white;
    color: #b14c02;
    border: 1px solid #b14c02;
    border-radius: 25px;
    padding: 0px 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

#addFood button:hover {
    background-color: #ffb689;
}

@media screen and (max-width: 1050px) {
    .foodBox {
        height: 160px;
    }

    #food-image {
        width: 30%;
    }
}

@media screen and (max-width: 900px) {
    .foodBox {
        height: 140px;
    }

    #food-image {
        width: 35%;
    }
    
    #addFood button {
        padding: 0px 13px;
    }
}

@media screen and (max-width: 600px) {
    .foodBox {
        height: 110px;
    }

    #food-info #food-names {
        margin: 0%;
        font-size: 13px;
    }

    #food-info #food-price {
        margin: 0%;
        font-size: 12px;
    }

    #addFood {
        padding: 15px 10px;
    }
    
    #addFood button {
        padding: 0px 11px;
        font-size: 12px;
    }
}

/* OrderBox */
.OrderBox {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
}

#order-image {
    width: 35%;
    height: 100px;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
}

#order-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#order-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 0px 0px 15px;
}

#order-info #food-name {
    font-weight: 600;
    font-size: 15px;
    line-height: 22.5px;
}

#order-info p {
    margin: 0px 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 22.5px;
    color: #000000;
}

#qty {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: auto;
    padding: 12px;
}

#qty .manageQty {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#qty .manageQty img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#numQty{
    width: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-left: 5px;
    margin-right: 5px;
}

#numQty p{
    margin: 0%;
    font-weight: 600;
    font-size: 15px;
    line-height: 22.5px;
}

#numQty img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MenuBox */
.MenuBox {
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 10px;
}

#menu-image {
    width: 25%;
    overflow: hidden;
    border-radius: 15px 0px 0px 15px;
}

#menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#menu-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px;
}

#menu-info #food-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0%;
}

#food-info #food-name {
    font-weight: 500;
    font-size: 14px;
}

#food-info #food-desc {
    font-weight: 300;
    font-style: italic;
    font-size: 10px;
}

#menu-info #food-price{
    font-weight: 400;
    font-size: 12px;
}

#manageFood {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: auto;
    padding-right: 20px;
    padding-bottom: 10px;
}

#manageFood #edit {
    width: 15px;
    margin-right: 10px;
    cursor: pointer;
}

#manageFood #edit img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#manageFood #remove {
    width: 15px;
    cursor: pointer;
}

#manageFood #remove img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}